<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <!-- have a button POST a click via AJAX -->
     <div>Do note about xss attacks, i don't has protections in place</div>
    <div>
        <form action="">
            <input name="new-article" type="text">
            <button hx-post="/articles" hx-swap="none">
                Add
              </button>
        </form>
        <button type="button" hx-get="/articles" hx-swap="innerHTML" hx-target="#test">
          Load
        </button>
        <div id="test">
        </div>
        <h2>Articles</h2>
    </div>
</body>
</html>